.alert{
   
    position:absolute;
    left:0;
    right:0;
    width:700px; /* Assign a value */
   
    margin:auto;
}

#loader{
    position: fixed;
    display: none;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    opacity: .9;
    z-index: 30;
}

#loader span{
    display: block;
    background: url(../images/loader.gif);
    width: 160px;
    height: 24px;
    position: absolute;
    left: 50%;
    top:50%;
    margin: -7px 0 0 -56px;
}

#mes-edit{
    display: none;
    color:#000;
    font-size: 15px;

    border: 1px solid rgb(24, 189, 18);
    box-shadow: 0 0 10px rgb(24, 189, 18);
    padding: 10px;
    text-align: center;
    width: 400px;
    position: fixed;
    left: 50%;
    top:40%;
    margin: -20px 0 0 -200px;
}